In [ ]:
print("hello")
fruits = ["Apple", "Banana", "Cherry", "Date", "Elderberry"]
fruits.append("Fig")
fruits[1] = "Blueberry"
fruits.pop()
print(fruits)

hello
['Apple', 'Blueberry', 'Cherry', 'Date', 'Elderberry']

list:
Sum of Numbers in a List
Task:

Create a list of 5 numbers.

Find the sum of all elements using a loop.

In [2]:
numbers = [10, 20, 30, 40, 50]
total = 0
for num in numbers:
    total += num
print("Sum:", total)

Sum: 150

Sort and Search
Task:

Sort a list of numbers.

Check if a specific number exists.

In [3]:
nums = [42, 5, 12, 88, 23]
nums.sort()
print("Sorted:", nums)
if 12 in nums:
    print("12 is in the list")

Sorted: [5, 12, 23, 42, 88]
12 is in the list

Sum of Elements in a List

In [4]:
numbers = [5, 10, 15, 20]
total = sum(numbers)
print("Sum:", total)

Sum: 50

Find the Largest Number

In [5]:
nums = [2, 8, 1, 15, 4]
print("Maximum:", max(nums))

Maximum: 15

 Reverse a List

In [6]:
data = [10, 20, 30, 40]
data.reverse()
print("Reversed list:", data)

Reversed list: [40, 30, 20, 10]

tuples:  A tuple is a collection data type in Python, just like a list. However, tuples are 

immutable, which means you cannot change, add, or remove items after the tuple is created.

In [7]:
t = ("a", "b", "c")
print(t[0])     # Output: 'a'
print(t[-1])    # Output: 'c'

a
c

Dictionary: In Python, a dictionary is a built-in data structure that stores data in key-value pairs. It allows for efficient data retrieval, modification, and storage, making it ideal for various programming tasks.
Accessing Values:
 Use square brackets [] or the get() method to access values.

In [4]:
student = {
    "name": "Ali",
    "age": 21,
    "major": "Computer Science"
}
print(student["name"])
print(student.get("name"))
print(student["age"])
print(student["major"])

Ali
Ali
21
Computer Science

In [2]:
# Get input from user in primitive data types
str_value = input("Enter a string: ") # e.g., python
flo_value = float(input("Enter a float number: ")) # e.g., 3.14
integer_value = int(input("Enter an integer: ")) # e.g., 23
bol_value = input("Enter a boolean value (True/False): ").strip().lower()=='true'
 # e.g., True
# Print all input values
print(f"String: {str_value}")
print(f"Float: {flo_value}")
print(f"Integer: {integer_value}")
print(f"Boolean: {bol_value}")
# Using string operation (uppercase)
print(f"Uppercase String: {str_value.upper()}")
# Check if the input number is even or odd
if integer_value % 2 != 0:
 print(f"The number {integer_value} is Odd")
else:
 print(f"The number {integer_value} is Even")
# Float multiplied by 2
print(f"Doubled float: {flo_value * 2}")

ValueError: could not convert string to float: ''

Arthematic Operators:
Operator	        Description	               Example
==	                Equal to	               a == b
!=	                Not equal to	           a != b
>	                Greater than	           a > b
<	                Less than	               a < b
>=	                Greater or equal	       a >= b
<=	                Less or equal	           a <= b

In [1]:
a = 5
b = 10

print("Equal:", a == b)
print("Not Equal:", a != b)
print("Greater:", a > b)
print("Less:", a < b)
print("Greater or Equal:", a >= b)
print("Less or Equal:", a <= b)

Equal: False
Not Equal: True
Greater: False
Less: True
Greater or Equal: False
Less or Equal: True

Logical operators:
Operator	             Description	        Example
and	                     True if both are true	a and b
or	                     True if one is true	a or b
not	                     Inverts result	        not a

In [1]:
a = True
b = False

print("AND:", a and b)
print("OR:", a or b)
print("NOT A:", not a)

AND: False
OR: True
NOT A: False

In [5]:
for i in range(5):
    print(i)
for letter in "python":
    print(letter)
count = 0
while count < 3:
    print("Count is", count)
    count += 1
for i in range(5):
    if i == 3:
        break  # stop loop when i is 3
    print(i)

0
1
2
3
4
p
y
t
h
o
n
Count is 0
Count is 1
Count is 2
0
1
2

In [3]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry